{% extends './base.html' %}
{%block content%}
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Student Issue</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>

      {% for issue in issue %}
     <tr>
        <td>{{issue.student_name(issue._id)}}</td>
        
        <td>{{ issue.message }}</td>
       
        <td>{{issue.is_open == False }}</td>


        <td><button type="button" class="btn btn-light" onclick = "{{url_for('mentorbp.studentRequests')}}">Open</button></td>
       
      </tr>
      {% endfor %}
    </tbody>
  </table>
{%endblock content%}