{% extends 'base.html' %}


{%block content%}
<h2 class="text-center">{{message}}</h2>

<table class="table table">
    <thead>
      <tr>
        <th scope="col">Student Name</th>
        <th scope="col">Student Issue</th>
        <th scope="col">State</th>
        <th scope="col">Tweak</th>
        
       
      </tr>
    </thead>
    <tbody>

      {% for issue in issue %}
     <tr>
        <td scope="col">{{issue.student_name(issue._id)}}</td>
        
        <td scope="col">{{ issue.message }}</td>

        {%if issue.is_open %}
        <td> Open</td>
        
        {% else %}
        <td>Closed</td>
        
      
        {%endif%}

        {%if issue.is_open %}
        <td>
          <a class="btn" href="{{url_for('mentorbp.closeRequest',num=issue._id)}}">close</a>  
        </td>
        
        {% else %}
        <td>
          <a class="btn" href="{{url_for('mentorbp.closeRequest',num=issue._id)}}">Reopen</a>  
        </td>
        
      
        {%endif%}

       
      </tr>
      {% endfor %}
    </tbody>
  </table>
{%endblock content%}


























{% block links %}
<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
  <div class="dropdown pb-4">
      <a href="ProblemRequests" class="d-flex flex-column align-items-center color text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="hugenerd" width="80" height="80" class="rounded-circle">
      </a>
      <a class="d-flex flex-column align-items-center color text-decoration-none" href="">{{name}}</a>
      <a class="d-flex flex-column align-items-center color text-decoration-none" href="">mentor@info.com</a>
  </div>
  <li class="nav-item">
    <!-- " {{url_for('studentbp.reqOpen')}}" -->
      <a href="{{url_for('mentorbp.all')}}" class="nav-link d-flex flex-column align-items-center color text-decoration-none">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">All</span>
      </a>
  </li>
  <li class="nav-item">
    <!-- href="{{url_for('studentbp.main')}} -->
      <a href="{{url_for('mentorbp.open')}}" class="nav-link d-flex flex-column align-items-center color text-decoration-none">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">View Open</span>
      </a>
  </li>
  <li class="nav-item">
    <!-- " {{url_for('studentbp.reqOpen')}}" -->
      <a href="{{url_for('mentorbp.closed')}}" class="nav-link d-flex flex-column align-items-center color text-decoration-none">
          <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">View closed</span>
      </a>
  </li>
  </ul>
{% endblock %}