@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    background-color: #DCE1DE;
}

/* ALL CONTENT */
#all-content{
    width: calc(100% - 13.92rem);
    padding: 3em;
    margin-top: calc(79.1px);
    margin-left: 14.65rem;
    /* height: 1000vh; */
}

/* NAVBAR */
#fixed{
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1F2421;
    padding-top: 8em !important;
    max-height: calc(100vh - 95px) !important;
    width: 15.375em;
    position: fixed;
    z-index: 2;
    top: calc(95px);
    left: 0;
}

.navigate{
    padding: 2em 0 2em 0 !important;
    background: #1F2421;
    width: 100% !important;
    position: fixed;
    z-index: 1;
    top: 0;
}

.color{
    color: #DCE1DE !important;
}

#form{
    display: flex !important;
    justify-content: end !important;
}

#form button{
    color: #DCE1DE !important;
    border: 0.025em solid #DCE1DE !important;
}

#form button:hover{
    background-color: #DCE1DE;
    color: #1F2421 !important;
    box-shadow: none;
}

/*STUDENT'S DASHBOARD */

/* ADMIN'S DASHBOARD */
#dash{
    padding-left: 4em;
}

.intro{
    color: #1F2421;
    font-weight: 700;
    font-size: 3em;
}

.desk{
    background: linear-gradient(246.89deg, #000000 27.64%, #9CC5A1 96.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
    font-weight: 700;
    font-size: 3em;
}

.mentor{
    width: 65%;
    background: #9CC5A1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em;
    margin: 1em 0.5em;
    border-radius: 0.5em;
}

.student{
    width: 65%;
    background: #216869;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3em;
    margin: 1em 0.5em;
    border-radius: 0.5em;
}

.icon{
    color: #1F2421;
    font-size: 10em;
    font-weight: 700;
}

.text h2{
    font-size: 2.3em;
    font-weight: 700 !important;
    color: #1F2421;
}






.page {
    background-color:white;
    height: 50vh;
    width: 50vw;
    position: absolute;
    margin-left: 400px;
    margin-top: 300px;
    border-radius: 10px;
  
  }
  #particles-js{
    height: 100vh;
    width: 100vw;
    background-color:black;
    position: relative;
  }

.intro1{
    display: block;
    margin-left: 1.6rem;
    color: #1F2421;
    font-weight: 700;
    



}
.intro2{
    display: block;
    margin-left: 0.8rem;
    background: linear-gradient(246.89deg, #000000 27.64%, #9CC5A1 96.9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;


}











#login{
    background-color: #1F2421 !important;
    min-height: 100vh !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    width: 55%;
}
#field{
    background-color: #DCE1DE;
    width: 60%;
    padding: 3rem 4rem;
}
.svg{
    background-color: #9CC5A1;
    width: 40%;
    padding: 3rem 2rem;
}
#svg{
}
.miform{
    padding: 1em 1em;
}
.miform1,.miform3{
    padding: 0em 1em;
}
.miform2{
    padding: .7em 1em;
}
.miform3 p a{
    text-decoration: none;
    color: #216869;
    font-weight: 700;
}
.miform3 p a:hover{
    text-decoration: underline;
    color: #216869;
    font-size: 110%;
}






















































































































































































































table tr:nth-child(odd){
  background-color: #216869;
}
table tr:nth-child(even){
  background-color: #9CC5A1;
}
thead{
  color:white
}