{% extends './base.html' %}

{% block content %}
    <div id="dash">
        <h1 class="intro">Hello Admin {{ users }}</h1>
        <h1 class="desk">student's help desk</h1>
        
        <div class="row">
            <div class="col-md-6 d-flex mentor">
                <div class="d-block mb-2 ms-3 text">
                    <h2>Total Mentors</h2>
                    <h2>{{ mentors }}</h2>
                </div>
                <div class="d-block me-3 pe-3 icon">
                   <i class="fa-solid fa-chalkboard-user"></i> 
                </div> 
            </div>
            <div class="col-md-6 d-flex student">
                <div class="d-block ms-3 ps-3 icon">
                    <i class="fa-solid fa-graduation-cap"></i>
                </div>
                <div class="d-block mb-2 me-3 text">
                    <h2>Total Students</h2>
                    <h2>{{ students }}</h2>
                </div>
            </div>
        </div>

    </div>
{% endblock %}