<nav class="navbar-fixed navigate">
  <form class="container-fluid justify-content-end" id="form">
    <button class="btn btn-sm btn-outline-secondary me-2" type="button">
      Account
    </button>
    <button class="btn btn-sm btn-outline-secondary me-2" type="button">
      Sign out
    </button>
    <button class="btn btn-sm btn-outline-secondary me-2" type="button">
      Sign in
    </button>
  </form>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 pt-5" id="fixed">
            <div class="d-flex flex-column justify-content-center align-items-center align-items-sm-start px-3 pt-2 text-white" id="lists">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <div class="dropdown pb-4">
                        <a href="#" class="d-flex flex-column align-items-center color text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="hugenerd" width="80" height="80" class="rounded-circle">
                        </a>
                        <a class="d-flex flex-column align-items-center color text-decoration-none" href="">Admin</a>
                        <a class="d-flex flex-column align-items-center color text-decoration-none" href="">admin@info.com</a>
                    </div>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex flex-column align-items-center color text-decoration-none">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex flex-column align-items-center color text-decoration-none>
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Student</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex flex-column align-items-center color text-decoration-none>
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Program</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex flex-column align-items-center color text-decoration-none>
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Mentor</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link d-flex flex-column align-items-center color text-decoration-none>
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Add User</span>
                        </a>
                    </li>
            </div>
        </div>
        <div class="col py-3">
            Content area...
        </div>
    </div>
</div>